.container {
  width: 90%;
  max-width: 1024px;
  margin: 3rem auto 4rem auto;

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 295px));
    margin: 0 auto;
    width: 100%;
    gap: 1rem 2rem;
    align-items: center;
    justify-content: center;
  }
}
