.container {
  width: 90%;
  max-width: 1024px;
  margin: 3rem auto 4rem auto;

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 286px));
    margin: 2rem auto;
    width: 100%;
    gap: 2rem 1rem;
    align-items: center;
    justify-content: center;
  }

  .btn-box {
    display: flex;
    justify-content: center;
  }
}
