@import "../../../style/variables.module.scss";

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  z-index: 50;
}

.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
}

.hamburger-inner {
  @include hamburger-line;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
  @include hamburger-line;

  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  top: 10px;
}

.hamburger--active .hamburger-inner {
  background-color: transparent;
}

.hamburger--active .hamburger-inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger-inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  height: 300px;
  width: 250px;
  background-color: $light;
  position: fixed;
  top: 6rem;
  right: 0%;
  transform: translateX(350px);
  border-radius: 10px;
  box-shadow: 8px 8px 24px 8px $gray;
}

.navigation--active {
  transform: translateX(100px);
}

.navigation-list {
  list-style: none;
  margin: 50px 1rem;
}

.navigation-item {
  margin-bottom: 20px;

  a {
    text-decoration: none;
    color: $dark;
  }
  a:hover {
    color: $bgc-color;
  }
}
