.slider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1024px;

    margin: 3rem auto;
    padding: 0 2rem;
  }
  .box {
    flex-basis: 25%;
    margin: 0 0.5rem;
  }
  .image {
    width: 160px;
    max-width: 100%;
  }
}
