//Colors
$bgc-color: #1c233d;
$fill-color: #30384d;
$dark: #171717;
$light: #ffffff;
$button-gradient: linear-gradient(
  to right,
  #bfc4ee 0%,
  #c367e6 51%,
  #2b5876 100%
);
//font's
$font-main: "Space Grotesk", Arial, sans-serif;
$font-sec: "DM Mono", monospace, Arial, sans-serif;
$font-desc: "Poppins", sans-serif;
