//Colors
$bgc-color: #1c233d;
$fill-color: #30384d;
$fill-invite: #1e2b4b;
$gray: #545c71;
$dark: #171717;
$light: #ffffff;
$active-btn: #3d2a3d;
$button-gradient: linear-gradient(
  to right,
  #bfc4ee 0%,
  #c367e6 51%,
  #2b5876 100%
);
$sub-title-grad: linear-gradient(
  to bottom,
  rgba(156, 118, 184, 1) 0%,
  rgba(156, 118, 184, 0) 100%
);
//font's
$font-main: "Space Grotesk", Arial, sans-serif;
$font-sec: "DM Mono", monospace, Arial, sans-serif;
$font-desc: "Poppins", sans-serif;
