@import "../../style/variables.module.scss";

.loader {
  border: 16px solid $bgc-color; /* Light grey */
  border-top: 16px solid $gray; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  margin: 4rem auto 2rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
